#app
fastapi==0.115.4
pydantic==2.9.2
uvicorn==0.32.0

#db
sqlalchemy==2.0.36
sqlmodel==0.0.22
psycopg2-binary==2.9.10
alembic==1.14.0

#test
pytest==8.3.3
httpx==0.27.2

#En caso de manejar metodos asincronos
# #db
# asyncpg==0.30.0
# # async
# greenlet==3.1.1